 1. What are data structures, and why are they important?
 -> Data structures are specialized formats for organizing, storing and accessing collections of data. It is important because it provides efficent way to manage information based on its charateristics and inteded use.

 2. Explain the difference between mutable and immutable data types with examples.
 -> Mutable means changeable, data type such as Lists and Sets allow us to modify contents after creation based on specific needs whereas immutable means unchangeable, data types such as Tuples doesn't allows us to modify contents once they are created.
 Example: my_list = [1, 2, 3]
 my_list.append(4)
   Now my_list is [1, 2, 3, 4]

 my_tuple = (1, 2, 3)
 my_tuple[2]
   Gives error.

 3.  What are the main differences between lists and tuples in Python?
 -> Lists are ordered, mutable collections of elements. We can add, remove or modify elements within a list whereas Tuples are ordered, immutable collections of elements.Once created, the items in a tuple cannot be changed.

 4. Describe how dictionaries store data?
 -> Data in a dictionary are stored in key value pairs, where each unique key maps to a specific value.
 Example: my_dict{"Name": "Kaif", "Course": "Data Analytics", "Age": 25}

 5.  Why might you use a set instead of a list in Python?
 -> A set is an unordered collection of unique elements. It offers union, intersection and difference operations and is useful for checking membership(if an item exists). So, whenever we wants to apply these operations we use set instead of list.

 6. What is a string in Python, and how is it different from a list?
 -> String is a sequence of characters arranged in an unchangable order. String are immutable it does not allow us to modify the elements once it is created whereas list allows us to add, replace and modify the elements after creation.

 7. How do tuples ensure data integrity in Python?
 -> Tuples do not allow us to modify their elements once created. We cannot add or remove elements from a tuple which means the data once added at the time of creation remains unchanged. This immutability ensures data integrity.

 8. What is a hash table, and how does it relate to dictionaries in Python?
 -> A hash table is a data structure that stores key value pairs, where each key is unique and mapped to a specific index in an array using hash function.In python, dictionaries are implemented using hash tables. When a key value pair added to a dictionary, Python calculates the hash value using its built-in hash function.

 9. Can lists contain different data types in Python?
 -> Yes, lists contains different data types in python. List allows us to store ordered,mutable collection of elements.
 Example: my_list = [1, 2, 6, 'new', 'old', True]

 10. Explain why strings are immutable in Python?
 -> Strings are immutable in python because it doesn't allow to add, replace or modify the elements of string once created.

 11. What advantages do dictionaries offer over lists for certain tasks?
 -> Dictionaries are much faster to access in compare to lists as they  allow direct access to values using unique keys.

 12. Describe a scenario where using a tuple would be preferable over a list.
 -> Tuples are useful when we don't want to change any elements in data like: Student enrollment number, employee id, coordinates on a 2D space etc.
 For example:
 point = (0,5)
 employee_id = (2013, 5019, 5478, 4701, 8704)
 If we use list instead of tuple, it can be easily manipulated and data integrity can be breached.

 13. How do sets handle duplicate values in Python?
 -> Sets are unordered collection of unique elements.If duplicate values are added to a set, Python will discard the duplicate values and keep only one instance of each unique values.

 14. How does the “in” keyword work differently for lists and dictionaries?
 -> The in keyword check if the value is present in the list whereas in dictionaries it checks if the key is present or not.
 For example:
 my_list = [1, 5, 10]
 10 in my_list #True

 my_dict = {"name": "kaif", "age": 25}
 kaif in my_dict    #False (value not key)
 age in my_dict     #True

 15. Can you modify the elements of a tuple? Explain why or why not?
 -> No, the elements of a tuple cannot be modified because tuples are immutable,once created cannot be modified later.

 16. What is a nested dictionary, and give an example of its use case?
 -> When we add one or more values as a dictionaries inside a dictionary it is called as nested dictionary.It is used to store hierarchical data structures.

 17. Describe the time complexity of accessing elements in a dictionary?
 -> As we know that python uses Hash table to store elements.Therefore its time complexity is O(1).

 18. In what situations are lists preferred over dictionaries?
 -> Lists are used where order of the elements are priority, index based access and offers wide range of data manipulation techniques.

 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 -> Dictionaries considered unordered because it does not maintain the order in which key value pairs inserted, dictionaries were implemented using hash table to optimize the speed which lead to return of values in arbitrary order.

 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 -> Data in lists can be retrive by using index while data retrieval in dictionary can be done by using key.
 For example:
 my_list = [5, 9, 8, 21, 25]
 my_dict = {"name": "kaif", "course": "data analytics", "age": 25}
 my_list[2]         #output: 8
 my_dict["age"]     #output: 25

In [ ]:
#1. Write a code to create a string with your name and print it.

name = "Kaif Shakeel"
print(name)

Kaif

In [ ]:
#2. Write a code to find the length of the string "Hello World".

s = "Hello World"
len(s)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string
#   "Python Programming".

s = "Python Programming"
s[0:3]

'Pyt'

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

string = "hello"
string.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string
#   "I like apple".

string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
num_list

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements
# 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple
# ('red', 'green', 'blue', 'yellow').

my_tuple =  ('red', 'green', 'blue', 'yellow')
my_tuple[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple
# ('dog', 'cat', 'rabbit')

pet = ('dog', 'cat', 'rabbit')
pet.index('cat')

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits
# and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'grapes', 'dates')
'kiwi' in fruits

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
new_set = set1 | set2
print(new_set)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersected_set = set1 & set2
print(intersected_set)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age",
# and "city", and print it.

my_dict = {'name':'', 'age':'', 'city': ''}
my_dict

{'name': '', 'age': '', 'city': ''}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the
# dictionary {'name': 'John', 'age': 25}.

dictate = {'name': 'John', 'age': 25}
dictate['country'] = 'USA'
dictate

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name"
# in the dictionary {'name': 'Alice', 'age': 30}

new_dict = {'name': 'Alice', 'age': 30}
new_dict['name']

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary
# {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict2['age']
dict2

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary
# {'name': 'Alice', 'city': 'Paris'}

dict3 = {'name':'Alice', 'city': 'Paris'}
'city' in dict3

True

In [ ]:
#26.  Write a code to create a list, a tuple, and a dictionary,
# and print them all.

my_list = [1, 5, 7, 'New Orleans', 'Python', True]
my_tuple = (5, 9, 8, ['Ajay, Bijay, Rahul'])
my_dict = {'name': 'kaif', 'age': '25', 'course': ['Data Analytics', 'Machine Learning', 'SQL']}
print("This is a list:",my_list)
print("This is a tuple:",my_tuple)
print("This is a dictionary:",my_dict)

This is a list: [1, 5, 7, 'New Orleans', 'Python', True]
This is a tuple: (5, 9, 8, ['Ajay, Bijay, Rahul'])
This is a dictionary: {'name': 'kaif', 'age': '25', 'course': ['Data Analytics', 'Machine Learning', 'SQL']}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100,
# sort it in ascending order, and print the result.(replaced)

sorting_list = [89, 21, 14, 54, 39]
sorting_list.sort()
print(sorting_list)

[14, 21, 39, 54, 89]

In [ ]:
#28. Write a code to create a list with strings and print the element at the
# third index.

my_string = ['abc', 'bcd', 'def', 'efg']
print(my_string[2])

def

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Kaif', 'age': '25'}
dict2 = {'course': 'Data Analytics', 'Country': 'INDIA'}

my_dic = {**dict1, **dict2}

print(my_dic)

{'name': 'Kaif', 'age': '25', 'course': 'Data Analytics', 'Country': 'INDIA'}

In [ ]:
#30. Write a code to convert a list of strings into a set.

my_list = ['new', 'old', 'day', 'night', 'sun', 'moon']
s = set(my_list)
print(s)

{'old', 'sun', 'new', 'moon', 'night', 'day'}